$black: #464655;
$lightBlue: #79BEEE;
$cottonCandy: #FFCAF6;
$EggShell: #E6E4CE;


Header {
    position: absolute;
    height: 108px;
    width: 100%;
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black;
    z-index: 1;
    .episode {
      span {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
      }
    }

    div {
      // TODO: Make Button Styling
      // GLOBAL
      button {
        // pushes it away a bit from 
        // Pandah World
        margin-right: 5px;

        font-size: 16px;

        // Main Elements
        cursor: pointer;
        background-color: $EggShell;
        border: 1px solid;
        color: $black;

        // Animation and Opacity
        opacity: 0.4;
        filter: alpha(opacity=40);
        transition: 0.25s;
      }
      // Styling on Clicking Button
      button:active {
        background-color: $black;
        box-shadow: 0 5px #000;
        transform: translateY(4px);
      }
      // Hover Effect
      button:hover {
        opacity: 1;
        filter: alpha(opacity=100)
      }
    }

  }