$black: #464655;
$lightBlue: #79BEEE;
$cottonCandy: #FFCAF6;
$EggShell: #E6E4CE;


.Footer {
    position: absolute;
    height: 100px;
    width: 100%;
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black;

    // places it on top of the Canvas, making it interacteble
    z-index: 1;

    // background-color: #E6E4CE;

    top: 90%;
    .logo,
    .episode {
      span {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
      }
    }
    // button {
    //     

    //     padding: 1px;
    //     background-color: #000;

    //     opacity: 0.4;
    //     filter: alpha(opacity=40)
    //     // margin: auto;
    //     // border: 2px solid $black;
    // }
    button {

      // Main Elements
      cursor: pointer;
      background-color: $EggShell;
      border: 1px solid;
      color: $black;

      // Positioning, Sizing
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;

      // Animation and Opacity
      opacity: 0.4;
      filter: alpha(opacity=40);
      transition: 0.25s;


      
    }
    button:hover {
      opacity: 1;
      filter: alpha(opacity=100)
    }
  }